@font-face {
    font-family: Lausanne;
    font-weight: 500;
    src: url(./TWKLausanne-500.ttf);
}

@font-face {
    font-family: Lausanne;
    font-weight: 400;
    src: url(./TWKLausanne-400.ttf);
}

@font-face {
    font-family: Menlo;
    src: url(./Menlo.ttf);
}

.mono {
    font-family: Menlo;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #FFFFFF;
    font-family: Lausanne;
    font-weight: 400;
}

::selection {
    background: rgba(12, 140, 233, 0.25);
}

[data-animate] {
    animation: enter .6s both;
    -webkit-animation-delay: calc(var(--stagger) * 120ms);
    animation-delay: calc(var(--stagger) * 120ms);
}

@keyframes enter { 
    from {
        transform: translateY(25px);
        opacity: 0%;
    }

    to {
        transform: translateY(0px);
        opacity: 100%;
    }
}